body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-image: url(images/rb.png);
    background-size: 110%;
}


header,
nav,
aside,
article,
footer {
    width: 96%;
    padding: 0.2em 1em;
    margin: 0.2em 1em;
    border: 0.2em solid rgb(128, 128, 128);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.076em;
    text-align: justify;
}

header {
    text-align: center;
    background-image: url(images/slv.png);
    background-attachment: relative;
    background-position: 100% 25%;
    background-size: 100%;
    position: relative;
    /* font-family: Comic-sans; */
}

article,
footer,
nav {
    background-color: rgb(80, 0, 209);
}

section {
    margin-left: 250px;
}

nav {
    text-align: auto;
}

article {
    color: rgb(255, 255, 255);
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    color: rgb(0, 0, 255);
    width: 300px;
    background-image: linear-gradient(to top, #eeeeee, #990044)
}

h1 {
    color: rgb(255, 0, 0);
    font-size: 4em;
    font-family: fantasy;
}

h2 {
    color: rgb(0, 162, 255);
    font-size: 2em;
    border: 0.2em solid rgb(128, 128, 128);
    border-radius: 10px;
    margin: 0.5em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition: color 0.5s;
}

h2:hover {
    color: white;
    transform-origin: bottom left;
    transform: translate(1em);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    margin: 0;
    padding: 0;
    border: 5px solid rgb(128, 128, 128);
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.gauche {
    position: fixed;
    width: 200px;
}

nav>li {
    overflow: hidden;
    white-space: nowrap;
}

li:nth-child(odd) {
    background-color: rgb(80, 0, 209);
}

li:nth-child(even) {
    background-color: rgb(80, 0, 209);
}

a[href$=".pdf"] {
    background-image: url("images/Mouhmeu.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2.5em;
}

a {
    transition: margin 1s;
}

a:hover {
    background-color: rgb(128, 128, 128);
    border: 3px solid rgb(128, 128, 128);
    margin: 0.2em;
}

table,
th,
td,
caption {
    border-collapse: collapse;
    border: 3px solid blue;
    padding: 0.5em;
    margin: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

thead,
tfoot {
    background-color: lightgreen;
}

td:hover {
    background-color: yellowgreen;
    color: blue;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:nth-child(odd) {
    background-color: #ccc;
}

form {
    padding: 1em;
    margin: 1em;
    border: 5px solid rgb(128, 128, 128);
    border-radius: 30px;
}

form>label,
fieldset {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

form>fieldset {
    margin: 1em;
    padding: 2em;
    border: 5px solid rgb(128, 128, 128);
    border-radius: 20px;
}


@media screen and (max-width: 750px) {
    aside {
        display: none;
    }
}
